@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.dragging {
    background-color: #eeeeee;
}
.file_container {
    width: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    min-width: 310px;
    overflow-x: hidden;
    color: #133348;
}

html {
    scroll-behavior: smooth;
    background-color: #FFFFFF;
    overflow-x: hidden;
}

.wrapper {
    max-width: 1500px;
    margin: auto;
    height: inherit;
    padding-left: 30px;
    padding-right: 30px;
}

@media screen and (max-width: 600px) {
    .wrapper {
        padding: 0 10px;
    }
}

a:hover {
    color: #FFD700;
}

.slick-track {
    /*width: 100vw !important;*/
    overflow-x: hidden;
}
.slick-slider {
    width: 100vw;
    margin: 0;
    padding: 0;
}

.minusHeader {
    padding-top: 80px;
}

.image-gallery-thumbnail-image {
    height: 50px !important; /* Set the desired height */
    object-fit: cover;
}

.image-gallery-content.bottom.fullscreen .arrow path:first-of-type {
    fill: white;
}
.image-gallery-content.bottom.fullscreen .arrow path:nth-child(2) {
    stroke: white;
}

.gm-ui-hover-effect {
    width: 25px !important;
    height: 25px !important;
}

.gm-ui-hover-effect span {
    margin: 0 !important;
    width: 20px !important;
    height: 20px !important;
}

.image-gallery-thumbnail.active, .image-gallery-thumbnail:focus, .image-gallery-thumbnail:hover {
    border-color: #FFD700 !important;
}

.image-gallery-fullscreen-button .image-gallery-svg, .image-gallery-play-button .image-gallery-svg {
    stroke: #FFD700 !important;
}